.button {
  background-color: $blue;
  border: none;
  border-radius: 10px;
  color: azure;
  display: inline-block;
  font-weight: 300;
  font-size: $font-size-large;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

// button link modifier
.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}